<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>osProtect: <%= @report_type %> Report</title>
</head>
<body>
  <h2><%= @report_type %> Report for <%= @user.username %>:</h2>
  <blockquote>
    <p>
      <strong><%= pluralize(@events.count, 'event') %></strong> were found matching the report criteria.
    </p>
    <p>
      View the attached PDF for details.
    </p>
  </blockquote>
</body>
</html>