<ul class="tabbed_navigation right" id="tabs">
  <li id="profile">
    <%= link_to 'Profile', edit_user_path(current_user), 'data-method'=>"get" %>
  </li>
  <li id="logout">
    <%= link_to image_tag('/assets/logout-icon.png') + 'Logout', logout_path, 'data-method'=>"get" %>
  </li>
</ul>
