<li id="notifications" class="<%=("notifications" == @pcd) ? @cur : ''%>">
  <%= link_to 'Notifications', notifications_path %>
  <ul>
    <li id="notifications" class="current">
      <%= link_to 'New Notification', new_notification_path %>
    </li>
  </ul>
</li>
